# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12

  # Note: Rust formatting is handled in CI (ci-rust.yml) since
  # the Rust crates are in subdirectories without a workspace root.
  # Run manually with: cd runtime && cargo fmt
