{
  "compilerOptions": {
    "target": "ES2022",
    "module": "ESNext",
    "moduleResolution": "bundler",
    "moduleDetection": "force",
    "strict": true,
    "skipLibCheck": true,
    "noEmit": true,
    "baseUrl": ".",
    "paths": {
      "inferlet": ["$inferlet_path/src/index.ts"],
      "inferlet/*": ["$inferlet_path/src/*"]
    }
  },
  "include": ["*.ts", "$inferlet_path/src/globals.d.ts"]
}
