/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    /* Inspired by PANTONE 15-1335 TCX "Flame" */
  --ifm-color-primary: #ec5825;
  --ifm-color-primary-dark: #e9460e;
  --ifm-color-primary-darker: #dd430d;
  --ifm-color-primary-darkest: #b8380b;
  --ifm-color-primary-light: #ef6a3c;
  --ifm-color-primary-lighter: #f17349;
  --ifm-color-primary-lightest: #f48b69;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Inspired by PANTONE 16-1359 TCX "Orangeade" for a stronger feel */
  --ifm-color-primary: #f06524;
  --ifm-color-primary-dark: #d85a20;
  --ifm-color-primary-darker: #cc551e;
  --ifm-color-primary-darkest: #a84618;
  --ifm-color-primary-light: #f2753a;
  --ifm-color-primary-lighter: #f37d47;
  --ifm-color-primary-lightest: #f69366;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

}

/* src/css/custom.css */
