fastapi==0.116.1
fire==0.6.0
flashinfer_python==0.2.7.post1
msgpack_python==0.5.6
numpy==2.3.1
platformdirs==4.3.8
protobuf==6.31.1
pydantic==2.11.7
pyzmq==27.0.0
Requests==2.32.4
tomli==2.2.1
torch==2.7.1
tqdm==4.67.1
transformers==4.49.0
uvicorn==0.35.0
websockets==15.0.1
ztensor==0.1.4
