[project]
name = "symphony"
version = "0.1.0"
description = ""
authors = [
    {name = "In Gim",email = "in.gim@yale.edu"}
]
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
]


[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
