name: Test Engine and Client CLI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-engine:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Build Engine
        working-directory: ./pie
        run: cargo build --release

      - name: Upload pie binary
        uses: actions/upload-artifact@v4
        with:
          name: pie-binary
          path: pie/target/release/pie
          retention-days: 1

  build-client-cli:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Build Client CLI
        working-directory: ./client/cli
        run: cargo build --release

      - name: Upload pie-cli binary
        uses: actions/upload-artifact@v4
        with:
          name: pie-cli-binary
          path: client/cli/target/release/pie-cli
          retention-days: 1

  build-example-apps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-wasip2

      - name: Build Example Apps
        working-directory: ./example-apps
        run: cargo build --target wasm32-wasip2 --release

  build-test-apps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-wasip2

      - name: Build Test Apps
        working-directory: ./test-apps
        run: cargo build --target wasm32-wasip2 --release

      - name: Upload `greet.wasm`
        uses: actions/upload-artifact@v4
        with:
          name: test-inferlet-greet
          path: test-apps/target/wasm32-wasip2/release/greet.wasm
          retention-days: 1

      - name: Upload `greet_lib.wasm`
        uses: actions/upload-artifact@v4
        with:
          name: test-inferlet-greet-lib
          path: test-apps/target/wasm32-wasip2/release/greet_lib.wasm
          retention-days: 1

      - name: Upload `version.wasm`
        uses: actions/upload-artifact@v4
        with:
          name: test-inferlet-version
          path: test-apps/target/wasm32-wasip2/release/version.wasm
          retention-days: 1

      - name: Upload `runtime_instrument_lib.wasm`
        uses: actions/upload-artifact@v4
        with:
          name: test-inferlet-runtime-instrument-lib
          path: test-apps/target/wasm32-wasip2/release/runtime_instrument_lib.wasm
          retention-days: 1

      - name: Upload echo inferlet
        uses: actions/upload-artifact@v4
        with:
          name: echo-inferlet
          path: test-apps/target/wasm32-wasip2/release/echo.wasm
          retention-days: 1

  test-engine-authentication:
    needs: [build-engine, build-client-cli]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download pie binary
        uses: actions/download-artifact@v4
        with:
          name: pie-binary
          path: ./bin

      - name: Download pie-cli binary
        uses: actions/download-artifact@v4
        with:
          name: pie-cli-binary
          path: ./bin

      - name: Make binaries executable
        run: |
          chmod +x ./bin/pie
          chmod +x ./bin/pie-cli

      - name: Add binaries to PATH
        run: |
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Run key algorithm test
        run: ./tests/engine/auth/key_algorithm.sh

      - name: Run disable authentication test
        run: ./tests/engine/auth/disable_auth.sh

      - name: Run key strength test
        run: ./tests/engine/auth/key_strength.sh

  test-engine-execute:
    needs: [build-engine, build-client-cli, build-test-apps]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download pie binary
        uses: actions/download-artifact@v4
        with:
          name: pie-binary
          path: ./bin

      - name: Download pie-cli binary
        uses: actions/download-artifact@v4
        with:
          name: pie-cli-binary
          path: ./bin

      - name: Download echo inferlet
        uses: actions/download-artifact@v4
        with:
          name: echo-inferlet
          path: ./bin

      - name: Make binaries executable
        run: |
          chmod +x ./bin/pie
          chmod +x ./bin/pie-cli

      - name: Add binaries to PATH
        run: |
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Run submit attached test
        run: ./tests/engine/execute/submit_attached.sh ./bin

      - name: Run submit detached test
        run: ./tests/engine/execute/submit_detached.sh ./bin

      - name: Run abort test
        run: ./tests/engine/execute/abort.sh ./bin

      - name: Run attach test
        run: ./tests/engine/execute/attach.sh ./bin

  test-engine-link:
    needs: [build-engine, build-client-cli, build-test-apps]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download pie binary
        uses: actions/download-artifact@v4
        with:
          name: pie-binary
          path: ./bin

      - name: Download pie-cli binary
        uses: actions/download-artifact@v4
        with:
          name: pie-cli-binary
          path: ./bin

      - name: Download `greet.wasm`
        uses: actions/download-artifact@v4
        with:
          name: test-inferlet-greet
          path: ./bin

      - name: Download `greet_lib.wasm`
        uses: actions/download-artifact@v4
        with:
          name: test-inferlet-greet-lib
          path: ./bin

      - name: Download `version.wasm`
        uses: actions/download-artifact@v4
        with:
          name: test-inferlet-version
          path: ./bin

      - name: Download `runtime_instrument_lib.wasm`
        uses: actions/download-artifact@v4
        with:
          name: test-inferlet-runtime-instrument-lib
          path: ./bin

      - name: Make binaries executable
        run: |
          chmod +x ./bin/pie
          chmod +x ./bin/pie-cli

      - name: Add binaries to PATH
        run: |
          echo "$(pwd)/bin" >> $GITHUB_PATH

      - name: Run link standalone library test
        run: ./tests/engine/link/standalone.sh ./bin

      - name: Run link instrumentation library test
        run: ./tests/engine/link/instrumentation.sh ./bin
